@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reenie+Beanie&display=swap');

.section-content {
    width: 100%;
}

.section-content-1 {
    width: 100%;
    position: relative;
}

.section-content-1 img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.section-content-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: rgba(0, 0, 0, 0.5);
}

.section-content-1-para {
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-content-1-para p {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.section-content-2 {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 70px;
    overflow: hidden;
    /* background-color: aqua; */
}

.section-content-2-content {
    display: flex;
}

.section-content-2-content-1,
.section-content-2-content-2 {
    width: calc(100% / 2);
    /* background-color: red; */
}


.section-content-2-content-2 {
    /* background-color: blue; */
}

.section-content-2-content-1-para-1 {
    font-family: "Reenie Beanie", cursive;
    font-size: 30px;
    font-weight: 500px;
    color: rgba(27, 188, 155, 1);
}

.section-content-2-content-1 h3 {
    margin-top: 50px;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    font-family: "Poppins", sans-serif;
}


.section-content-2-content-1-para-2 {
    width: 90%;
    margin-top: 35px;
}

.section-content-2-content-1-para-2 p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

@media(max-width:1168px) {
    .section-content-2-content-1 h3 {
        font-size: 30px;

        line-height: 40px;
    }

    .section-content-2-content-1-para-2 p {
        width: 350px;
    }
}




.section-content-2-content-1-para-3 {
    margin-top: 35px;
}

.section-content-2-content-1-para-3 p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.section-content-2-content-1-line {
    margin-top: 15px;
    width: 400px;
    height: 5px;
    border-radius: 2px;
    background-color: rgb(59, 59, 59);

}

.section-content-2-content-1 button {
    margin-top: 40px;
    width: calc(150px - 10px);
    height: calc(50px - 10px);
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 1s all .5s;
    background-color: rgba(27, 188, 155, 1);
}

.section-content-2-content-1 button:hover {
    background-color: rgb(20, 119, 99);
}


.section-content-2-content-2-images {
    width: 100%;
    height: 500px;
    /* background-color: greenyellow; */
    z-index: -2;
    position: relative;
}

.section-content-2-content-2-image-1 {
    width: 90%;
    position: absolute;
    top: 65px;
    left: 25px;
}

.section-content-2-content-2-image-1 img {
    width: 100%;
    border-radius: 15px;
}


.section-content-2-content-2-image-2 {
    width: 100px;
    position: absolute;
    bottom: 5px;
    left: 0px;

}

.section-content-2-content-2-image-2 img {
    width: 150px;
    height: 150px;
    border-radius: 15px;
}

.section-content-2-content-2-image-3 {
    width: 100px;
    position: absolute;
    bottom: 50px;
    right: 50px;

}

.section-content-2-content-2-image-3 img {
    width: 150px;
    border-radius: 15px;
}

.section-content-2-content-2-image-4 {
    width: 100px;
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: -1;

}

.section-content-2-content-2-image-4 img {
    width: 150px;
    border-radius: 15px;
}

.section-content-2-content-2-image-5 {
    width: 100px;
    position: absolute;
    top: -5px;
    left: 150px;
    z-index: -1;

}

.section-content-2-content-2-image-5 img {
    width: 150px;
    border-radius: 15px;
}

.section-content-2-content-2-buttons {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-content-2-content-2-buttons button {
    margin-right: 50px;
    width: calc(150px - 10px);
    height: calc(50px - 10px);
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 1s all .5s;
    background-color: rgba(27, 188, 155, 1);
    color: white;
}

.section-content-2-content-2-buttons button:hover {
    background-color: rgb(20, 119, 99);
}

@media(max-width:992px) {
    .section-content-2-content-2-image-2 {
        bottom: 85px;
    }



    .section-content-2-content-2-image-3 {
        bottom: 100px;
        right: 50px;
    }

    .section-content-2-content-2-image-5 {
        left: 80px;
    }

    .section-content-2-content-2-buttons button {
        margin-right: 10px;
    }

}

@media(max-width:856px) {
    .section-content-2-content {
        display: block;
    }

    .section-content-2-content-1-para-2 p {
        width: 100%;
    }

    .section-content-2-content-1,
    .section-content-2-content-2 {
        width: 100%;
    }

    .section-content-2-content-2 {
        margin-top: 100px;

    }

    .section-content-2-content-2-images {
        height: 600px;
    }

    .section-content-2-content-2-image-1 img {
        width: 100%;
    }

    .section-content-2-content-2-image-2 {
        bottom: 20px;
    }

    .section-content-2-content-2-image-3 {
        bottom: 50px;
    }

    .section-content-2-content-2-image-5 {
        left: 230px;
    }

    .section-content-2-content-1-line {
        margin-top: 15px;
        width: 100%;
        height: 5px;
        border-radius: 2px;
        background-color: rgb(59, 59, 59);

    }

    .section-content-2-content-1 button {
        margin-left: 40%;
        margin-right: 50%;

    }
}

@media(max-width:768px) {
    .section-content-2-content-2-image-1 img {
        width: 80%;
        margin-left: 80px;
    }

    .section-content-2-content-2-image-2 {
        bottom: 25px;
    }

    .section-content-2-content-2-images {
        height: 450px;
    }

    .section-content-2-content-2-image-3 {
        bottom: 35px;
    }

    .section-content-2-content-2-image-5 {
        left: 50px;
    }
}

@media(max-width:600px) {
    .section-content-2-content-2-image-1 img {
        width: 90%;
        margin-left: 30px;
    }

    .section-content-2-content-2-image-2 {
        bottom: 35px;
    }

    .section-content-2-content-2-images {
        height: 400px;
    }

    .section-content-2-content-2-image-3 {
        bottom: 45px;
    }

    .section-content-2-content-2-image-5 {
        left: 50px;
    }
}


@media(max-width:450px) {
    .section-content-2-content-1 button {
        margin-left: 25%;

    }

    .section-content-2-content-2-image-1 img {
        margin-left: 5px;
    }

    .section-content-2-content-2-images {
        height: 350px;
    }


    .section-content-2-content-2-image-5 {
        left: 10px;
    }

    .section-content-2-content-2-image-2 img {
        width: 120px;
        height: 120px;
    }
}

/* Section content 03 */

.section-content-3 {
    width: 100%;
    /* background-color: red; */
    /* margin-bottom: 80px; */
}

.section-content-3 img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

/* Section Content 4 */

.section-content-4 {
    width: 100%;
    /* height: 1500px; */
    background-color: rgba(242, 242, 242, 1);

}

.section-content-4-content {
    width: 100%;
    /* height: 150px; */
    /* margin-top: 80px; */
    display: flex;
    /* background-color: red; */
}

.section-content-4-content-1,
.section-content-4-content-2 {
    width: calc(100% / 2);
    /* height: 250px; */
    margin-top: 120px;
    /* background-color: blue; */
}


.section-content-4-content-1 p {
    font-family: "Reenie Beanie", cursive;
    font-size: 30px;
    font-weight: 500px;
    color: rgba(27, 188, 155, 1);
}


.section-content-4-content-1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    font-family: "Poppins", sans-serif;
}

.section-content-4-content-1 h3 {
    margin-top: 50px;
}

.section-content-4-content-2 {
    /* background-color: lime; */
    overflow: hidden;
}

.section-content-4-content-2 p {
    width: calc(100% - 110px);
    padding: 55px;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-align: justify;

}

.section-content-4-content-free {
    width: 100%;
    height: 180px;
}


@media(max-width:856px) {


    .section-content-4-content {
        display: block;
    }

    .section-content-4-content-1,
    .section-content-4-content-2 {
        width: 100%;
        margin-top: 0px;
    }



    .section-content-4-content-2 {
        width: 100%;
        margin-left: 30px;
    }


    .section-content-4-content-1 {
        text-align: center;
        font-size: 35px;
    }

    .section-content-4-content-2 p {
        padding-left: 50px;
    }

}

.section-content-4-content-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-columns: 500px 100px auto 300px; */
    column-gap: 30px;
    row-gap: 10px;
}

.description {
    /* margin-top: 60px; */
    /* height: 280px; */
    /* background-color: yellow; */
    /* border: 1px solid black; */
    padding: 50px 50px;
    border-radius: 10px;
}

.description img {
    width: 80px;
    height: 80px;
}

@media(max-width:992px) {
    .section-content-4-content-grid {
        grid-template-columns: auto auto;

    }

    .description {
        /* background-color: red; */
    }
}

@media(max-width:758px) {
    .section-content-4-content-grid {
        grid-template-columns: auto;

    }

    .description {
        text-align: center;
    }

}

@media(max-width:552px) {
    .section-content-4-content-2 p {
        padding-left: 30px;
    }
}

.description h4 {
    margin-top: 25px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.description p {
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
}

.section-content-4-content-image {
    width: 100%;
    /* height: 250px; */
    /* background-color: red; */
    display: flex;
}

.section-content-4-content-image-1 {
    width: 270px;
    height: 235px;
    /* background-color: lime; */
}

.section-content-4-content-image-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-content-4-content-image-2 {
    width: calc(100% - 270px);
    height: 235px;
    /* background-color: blue; */
    position: relative;
}

.section-content-4-content-image-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.section-content-4-content-para-1 {
    width: calc(100% - 60px);
    /* height: 100px; */
    /* background-color: red; */
    position: absolute;
    top: 25px;
    display: flex;
    align-items: center;
    padding: 30px;
}

.section-content-4-content-para-1 p {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: white;
}


.section-content-4-content-para-2 {
    width: calc(100% - 60px);
    /* height: 100px; */
    /* background-color: red; */
    position: absolute;
    top: 90px;
    padding: 30px;
    display: flex;
}


.section-content-4-content-para-2 h3 {
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    color: white;
}

.section-content-4-content-para-2 button {
    width: calc(130px - 10px);
    height: 40px;
    margin-left: 85px;
    cursor: pointer;
    background-color: rgba(27, 188, 155, 1);
    border: none;
    border-radius: 5px;
    padding: 5px;
    transition: 1s all .5s;
}


.section-content-4-content-para-2 button:hover {
    background-color: rgb(20, 119, 99);
}

@media(max-width:992px) {
    .section-content-4-content-para-2 {
        display: block;
    }

    .section-content-4-content-para-2 button {
        margin-left: 0px;
        margin-top: 15px;
    }

    .section-content-4-content-para-1 {
        top: 5px;
    }

    .section-content-4-content-para-2 {
        top: 30px;
    }
}

@media(max-width:778px) {
    .section-content-4-content-image {
        display: block;
    }

    .section-content-4-content-image-1,
    .section-content-4-content-image-2 {
        width: 100%;
    }

    .section-content-4-content-para-1 {
        top: 5px;
    }

    .section-content-4-content-para-2 {
        top: 60px;
    }

    .section-content-4-content-para-2 h3 {
        font-size: 20px;
    }
}

/* section-content-5 */

.section-content-5 {
    width: 100%;
}

.section-content-5-content-1 {
    width: 100%;
}

.section-content-5-content-1 {
    text-align: center;
}


.section-content-5-content-1 p {
    margin-top: 50px;
    font-family: "Reenie Beanie", cursive;
    font-size: 30px;
    font-weight: 500px;
    color: rgba(27, 188, 155, 1);
}

.section-content-5-content-1 h3 {
    margin-top: 35px;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}

.section-content-5-content-2 {
    width: 100%;
    margin-top: 25px;
    /* background-color: rebeccapurple; */
    display: flex;
    overflow: hidden;
}

.section-content-5-content-2-image,
.section-content-5-content-2-para {
    width: calc(100% / 2 - 40px);
    /* height: calc(400px - 40px); */
    /* background-color: red; */
    padding: 20px;

}

.section-content-5-content-2-para {
    /* background-color: yellow; */
    margin-top: 50px;
}



.section-content-5-content-2-image img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.section-content-5-content-2-para p {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    text-align: justify;
}

@media(max-width:992px) {
    .section-content-5-content-2-para {
        /* background-color: yellow; */
        margin-top: 0;
    }

    .section-content-5-content-2-para p {
        font-size: 15px;
    }
}

.section-content-5-content-2-image-name {
    width: 100%;
    /* height: 100px; */
    /* background-color: aqua; */
    display: flex;
    margin-top: 25px;
}

.section-content-5-content-2-image-1 {
    width: 100px;
    /* height: 100%; */
    /* background-color: black; */

}

.section-content-5-content-2-image-1 img {
    width: 80%;
    border-radius: 50%;
    margin-top: 15px;

}

.section-content-5-content-2-name-1 {
    width: calc(100% - 100px);
    /* height: 100%; */
    /* background-color: rgb(244, 32, 236); */
}

.section-content-5-content-2-name-1 h5 {
    font-size: 22px;
    font-family: "Poppins", sans-serif;
    margin-top: 15px;
    margin-left: 20px;
}

.section-content-5-content-2-name-1 p {
    margin-top: 5px;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
}

@media(max-width:768px) {

    .section-content-5-content-2 {
        display: block;

    }



    .section-content-5-content-2-para {
        width: 90%;
        margin: auto;

    }



    .section-content-5-content-2-image-1 {
        width: 150px;

    }

    .section-content-5-content-2-image-1 img {
        width: 30%;
        margin-left: 100px;
    }

}



@media(max-width:552px) {

    .section-content-5-content-2-image-1 img {
        width: 30%;
        margin-left: 60px;
    }
}

.section-content-5-content-3 {
    width: 100%;
    /* background-color: blue; */
    display: flex;
}

.section-content-5-content-3-image,
.section-content-5-content-3-grid {
    width: calc(100% / 2 - 40px);
    /* background-color: rgb(15, 187, 210); */
    padding: 20px;
}


.section-content-5-content-3-image img {
    width: 100%;
    border-radius: 8px;
}

.section-content-5-content-3-grid-1 {
    width: calc(100% - 10px);
    /* background-color: darkorange; */
    display: flex;
    padding-left: 5px;
}

.section-content-5-content-3-grid-2 {
    width: calc(100% - 10px);
    /* background-color: rgb(255, 0, 212); */
    display: flex;
    padding-left: 5px;
    margin-top: 8px;
}

.section-content-5-content-3-grid-1-image-1,
.section-content-5-content-3-grid-1-image-2 {
    width: calc(100% / 2);
    /* background-color: springgreen; */
}

.section-content-5-content-3-grid-1-image-2 {
    /* background-color: blueviolet; */
    margin-left: 10px;
}

.section-content-5-content-3-grid-1-image-1 img,
.section-content-5-content-3-grid-1-image-2 img {
    width: 100%;
    border-radius: 6px;
}

@media(max-width:768px) {
    .section-content-5-content-3 {
        display: block;
    }

    .section-content-5-content-3-image {
        width: 90%;
        margin: auto;
    }

    .section-content-5-content-3-grid {
        width: 90%;
        margin: auto;
    }

}