@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reenie+Beanie&display=swap');

.box-1{
    width: 100%;
    height: 600px;
    background: rgba(242, 242, 242, 1);
}
.box-1-para1{
    position: absolute;
    font-family: Poppins;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-left: 25%;
    margin-top: 12%;
}
.box-1-para2{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20px;
    color: rgba(110, 110, 110, 1);
}
.box-1-icon-bg{
    margin-top: 20px;
    margin-left: 45%;
    background: rgba(27, 188, 155, 1);
    width: 35px;
    height: 35px;
    padding: 10.5px 11.5px 10.5px 11.81px;
    border-radius: 30px;
    opacity: 0px;
    align-content: center;
}
.box-1-icon{
    color: white;
    font-family: Font Awesome 5 Free;
    font-size: 35px;
    font-weight: 900;
    line-height: 21px;
}
.box-2{
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: -10%;
    border-radius: 5px;
}
.box-2-bg{
    width: 100%;
    height: 800px;
    border-radius: 5px;
}
.box-2-para1{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-top: 20px;
    margin-left: 3%;
    color: rgba(110, 110, 110, 1);
}
.box-3{
    width: 80%;
    height: 320px;
    margin-left: 10%;
    background: rgba(242, 242, 242, 1);
    margin-top: 50px;
    border-radius: 15px;
}
.box-3-para{
    color:  rgba(110, 110, 110, 1);
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    line-height: 32.4px;
    text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}
.box-3-img-bg{
    width: 50px;
    height: 50px;
    margin-top: 2%;
    margin-left: 40%;
    border-radius: 999px;
}
.box-3-img-h{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    margin-left: 50%;
    margin-top: -3%;
}
.box-3-img-p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-left: 50%;
    margin-top: 5px;
    color: rgba(110, 110, 110, 1);
}
.box-3-btn1{
    width: 7px;
    height: 7px;
    margin-top: 10px;
    margin-left: 50%;
}
.box-3-btn2{
    width: 7px;
    height: 7px;
    margin-left: 51.5%;
    margin-top: -7px;
}
.box-4{
    width: 80%;
    height: 130px;
    margin-left: 10%;
    margin-top: 20px;
}
.box-4-para{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(110, 110, 110, 1);
}

/* responsive */

@media (max-width: 768px){
    .box-1{
        height: 300px;
        background-color: white;
    }
    .box-1-para1{
        font-size: 30px;
        line-height: 60px;
        margin-top: 10%;
        text-align: center;
    }
    .box-2{
        margin-top: -50px;
    }
    .box-2-bg{
        height: 400px;
    }
    .box-1-para1{
        font-size: 14px;
        line-height: 19px;
        text-align: center;
    }
    .box-3{
        width: 90%;
        margin-left: 5%;
    }
    .box-3-para{
        font-size: 14px;
        line-height: 19px;
        text-align: center;
    }
    .box-3-img-bg{
        width: 40px;
        height: 40px;
        margin-left: 20%;
    }
    .box-3-img-h{
        margin-top: -5%;
        margin-left: 45%;
    }
    .box-3-img-p{
        font-size: 14px;
        margin-left: 45%;
    }
    .box-4{
        width: 90%;
        margin-left: 5%;
        height: auto;
    }
    .box-4-para{
        text-align: center;
        font-size: 14px;
        line-height: 19px;
    }
    
    
    

    
    
}