@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

footer {
  width: 100%;
  height: 400px;
  margin-top: 80px;
  position: relative;
  font-family: Poppins;
}

.footer-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.footer-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: brightness(40%);
  position: absolute;
  bottom: 0;
}

.footer-content-0 {
  width: 100%;
  height: 400px;
  display: flex;
  /* background-color: aqua; */
  justify-content: center;
}

.footer-content-1 {
  width: 20%;
  height: 400px;
  background-color: white;
  display: none;
}

.footer-content-1 img {
  width: 50px;
  height: 100px;
}

.footer-content-2 {
  width: 25%;
  height: 400px;
  /* background-color: rgb(103, 100, 96); */
  z-index: 1;
  padding-right: 5%;
}

.footer-content-2 h1 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  margin-top: 50px;
}

@media screen and (max-width: 992px) {
  .footer-content-2 h1 {
    font-size: 25px;
    margin-top: 55px;
  }
}

.footer-content-3 {
  width: 25%;
  height: 400px;
  /* background-color: rgb(188, 121, 32); */
  color: white;
  z-index: 1;
}

.footer-content-3 h3 {
  margin-top: 60px;
}

.footer-content-3 p {
  margin-top: 15px;
}
.footer-content-3-i {
  margin-top: 25px;
}

.footer-content-3 i {
  margin-right: 15px;
  cursor: pointer;
}

.footer-content-4 {
  width: 25%;
  height: 400px;
  /* background-color: rgb(59, 44, 171); */
  z-index: 1;
  color: white;
}

.footer-content-4 h3 {
  margin-top: 60px;
}

.footer-content-4 button {
  color: white;
  padding: 8px;
  text-decoration: none;
  background-color: #1bbc9b;
  border-radius: 5px;
  border: 0;
  margin-top: 20px;
  cursor: pointer;
}

.footer-content-4 h2 {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .footer-content-4 h2 {
    font-size: 18px;
  }
  .footer-content-2 h1 {
    font-size: 20px;
    margin-top: 60px;
  }
}

.footer-content-5 {
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  /* background-color: rgb(133, 18, 108); */
  display: flex;
  justify-content: center;
}

.footer-content-5-i {
  width: 80%;
  height: 20px;
  /* background-color: darkred; */
  color: white;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .footer-image img {
    display: none;
  }

  .footer-content-0 {
    flex-direction: column;
    background-color: #434a54fa;
    height: 660px;
  }

  .footer-content-1 {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
  }

  .footer-content-1 img {
    width: 80%;
    height: auto;
    margin: 20px 0;
  }

  .footer-content-2 {
    width: 60%;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    height: auto;
  }

  .footer-content-3,
  .footer-content-4 {
    width: 100%;
    text-align: center;
    height: auto;
  }

  .footer-content-5 {
    width: 100%;
    min-height: 50px;
    position: relative;
    background-color: #434a54fa;
    display: flex;
    align-items: center;
  }

  .footer-content-5-i {
    text-align: center;
    font-size: 13px;
  }
}
