nav {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
}

.nav-content {
  width: 100%;
  height: 70px;
  /* background-color: red; */
  display: flex;
}

.nav-content-1 {
  width: 20%;
  height: 100%;
  /* background-color: brown; */
  display: flex;
  align-items: center;
}

.nav-content-1 img {
  height: 50px;
  width: 120px;
}

.nav-content-2 {
  width: 90%;
  height: 100%;
  /* background-color: rgb(174, 157, 189); */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.nav-content-2 ul {
  display: flex;
  list-style: none;
}

.nav-content-2 ul li {
  margin-left: 20px;
}

.nav-content-2 ul li a {
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  .nav-content-2 ul li {
    margin-left: 15px;
  }
}

@media screen and (max-width: 890px) {
  .nav-content-2 ul li {
    margin-left: 7px;
  }

  .nav-content-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav-content-2-a {
  display: flex;
  margin-left: 50px;
  cursor: pointer;
}

.nav-content-2-a li a {
  margin-left: 30px;
}

@media screen and (max-width: 1100px) {
  .nav-content-2-a {
    margin-left: 10px;
  }

  .nav-content-2-a li a {
    margin-left: 10px;
  }
}

@media screen and (max-width: 890px) {
  .nav-content-2-a {
    margin-left: 5px;
  }

  .nav-content-2-a li a {
    margin-left: 5px;
  }
}

@media screen and (max-width: 768px) {
  .nav-content-2 {
    display: none;
  }
}

.nav-content-3 {
  width: 20%;
  height: 100%;
  /* background-color: rgb(153, 226, 43); */
  display: flex;
  align-items: center;
}

.nav-content-3 button {
  padding: 8px;
  cursor: pointer;
  border: none;
  margin-left: 60px;
  background-color: #1bbc9b;
  border-radius: 3px;
}

.nav-content-3 button:hover {
  background-color: #13977d;
}

.nav-content-3 i {
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
}

@media screen and (max-width: 1100px) {
  .nav-content-3 button {
    margin-left: 30px;
  }
}

@media screen and (max-width: 890px) {
  .nav-content-3 button {
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .nav-content-3 button {
    display: none;
  }

  .nav-content-3 {
    width: 100%;
    display: flex;
    justify-content: right;
  }

  .nav-content-3 i {
    font-size: 30px;
  }
}

.menu {
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 2;
  background-color: rgb(245, 241, 241);
  margin-top: 69px;
  overflow-y: auto;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
}

.menu ul {
  list-style: none;
}

.menu ul a {
  text-decoration: none;
}

.menu ul a li {
  margin-top: 40px;
}

.menu.active {
  height: calc(100vh - 70px);
}

.menu a {
  color: rgb(94, 80, 157);
  font-size: 16px;
  letter-spacing: 0.3px;
  font-weight: 400;
  font-family: sans-serif;
}


